{% extends 'layout.html' %}
{% import 'macros/navbar.html' as navbar %}

{% block head %}
  <script type="text/javascript" src="/javascripts/index.js"></script>
{% endblock %}

{% block content %}
  <div class="header-container">
    {{ navbar.nav() }}

    <div class="jumbotron masthead header-jumbotron">
      <div class="container">
        <h1>Nick Dupoux</h1>
        <p class="lead">Pythonista. Software Engineer. Aspiring Entrepreneur.</p>
      </div>
    </div>
  </div>

  <div class="main-body-container" id="main-body">
    <section class="info main-info">
      <div class="container">
        <p class="lead">
          I'm a junior at <b>Stanford University</b> studying computer science and
          working to make a name for myself in the everchanging tech scene of
         <b>Silicon Valley</b>.
        </p>
        <p class="lead">
          I'm passionate about programming, hacking, and the impact technology can have on the world.
          Right now, my interests - which are ever-evolving - center around virtual reality, ed-tech, and gov-tech.
        </p>
        <p class="lead">
          My short-term goals are focused on improving my abilities as a software engineer and hacker through working on
          exciting projects and challenging problems.
          My long-term goals include working in the fast-paced environment of a startup, working in the Space industry, and
          one day attending graduate school to obtain a Ph.D.
        </p>
      </div>
    </section>

    <section class="info alternate-info">
      <div class="container">
        <h1 class="section-header">Current Projects</h1>
        <p class="lead">
          A list of things that I'm working on, either through school, work, or personal ventures.
        </p>
        <div class="projects-list">
          {% for project in projects %}
            {% if loop.first %}<ul>{% endif %}
            <li>
              <div class="project-header"><h3>{{ project.title }}</h3> - <p>{{ project.tagline }}</p></div>
              <p>{{ project.description }}</p>
              <p> Skills: {% for skill in project.skills %} {{ skill }} {% endfor %}</p>
            </li>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

  </div>
{% endblock %}
