{% extends 'layout.html' %}
{% import 'macros/navbar.html' as navbar %}

{% block head %}
  <script type="text/javascript" src="/javascripts/index.js"></script>
{% endblock %}

{% block content %}
  <div class="header-container">
    {{ navbar.nav() }}

    <div class="jumbotron masthead header-jumbotron">
      <div class="container">
        <h1>Nick Dupoux</h1>
        <p class="lead">Pythonista. Software Engineer. Comic book addict.</p>
      </div>
      <div class="container">
        <div class="icons-container">
          <div class="blog-link">
            <a href="http://blog.njdup.me"><i class="fa fa-pencil-square fa-5x"></i></a>
            <p class="lead">My blog</p>
          </div>
          <div class="knowledgebase-link">
            <a href="http://knowledge.njdup.me"><i class="fa fa-book fa-5x"></i></a>
            <p class="lead">My knowledge</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-body-container" id="main-body">
    <section class="info main-info">
      <a name="about"></a>
      <div class="container">
        <h1 class="section-header">About Me</h1>
        <p class="lead">
          I'm a junior at <b>Stanford University</b> studying computer science and
          working to make a name for myself in the everchanging tech scene of
         <b>Silicon Valley</b>.
        </p>
        <p class="lead">
          I'm passionate about programming, hacking, and the impact technology can have on the world.
          Right now, my interests - which are ever-evolving - center around virtual reality, ed-tech, and gov-tech.
        </p>
        <p class="lead">
          My short-term goals are focused on improving my abilities as a software engineer and hacker through working on
          exciting projects and challenging problems.
          My long-term goals include working in the fast-paced environment of a startup, working in the Space industry, and
          one day attending graduate school to obtain a Ph.D.
        </p>
      </div>
    </section>

    <section class="info alternate-info">
      <a name="skills"></a>
      <div class="container">
        <h1 class="section-header">Skills</h1>
        <p class="lead">
            A list of what I consider my note-worthy skills.
        </p>

        <div class="projects-divider"></div>

        <div class="skills-list">
          <h2 class="section-subheader">Languages</h2>
          {% for lang in skills.languages %}
            {% if loop.first %}<ul>{% endif %}
            <li>
              <h3>{{ lang.name }}</h3>
              <br/>
              <p>{{ lang.description }}</p>
            </li>
            {% if loop.last %}
              </ul>
            {% else %}
            {% endif %}
          {% endfor %}

          <div class="projects-divider"></div>

          <h2 class="section-subheader">Frameworks</h2>
          {% for framework in skills.frameworks %}
            {% if loop.first %}<ul>{% endif %}
            <li>
              <h3>{{ framework.name }}</h3>
              <br/>
              <p>{{ framework.description }}</p>
            </li>
            {% if loop.last %}
              </ul>
            {% else %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

    <section class="info main-info">
      <a name="interests"></a>
      <div class="container">
        <h1 class="section-header">My Interests</h1>
        <p class="lead">
          Everything that comes to mind when I'm confronted with the age-old question: "Well, what interests you, really?"
        </p>

        <div class="projects-divider"></div>

        <div class="interests-list">

        {% for interest in interests %}
          {% if loop.first %}<ul>{% endif %}
          <li>
            <h3>{{ interest.name }}</h3>
            <br/>
            <p>{{ interest.description }}</p>
          </li>
          {% if loop.last %}
            </ul>
          {% endif %}

        {% endfor %}

        </div>
      </div>
    </section>

    <section class="info alternate-info">
      <a name="projects"></a>
      <div class="container">
        <h1 class="section-header">Current Projects</h1>
        <p class="lead">
          A list of stuff that I'm working on, either through school, work, or personal ventures.
        </p>
        <div class="projects-list">
          <div class="projects-divider"></div>
          {% for project in projects %}
            {% if loop.first %}<ul>{% endif %}
            <li>
              <div class="project-header"><h3>{{ project.title }}</h3>  &nbsp;&nbsp; <p><em>{{ project.tagline }}</em></p></div>
              <br/>
              <p>{{ project.description }}</p>

              <div class="links-list">
                <p>Check the project out at these links:</p>
                <ul>
                {% for link in project.links %}
                  <li><a href='{{ link.url }}'>{{ link.name }}</a></li>
                {% endfor %}
                </ul>
              </div>

              <br/>
              <div class="project-skills-list"><h4>Tech:</h4><p>&nbsp;&nbsp;{{ project.skills|striptags|join(', ') }}</p></div>
            </li>
            <br/>
            <div class="projects-divider"></div>
            {% if loop.last %}</ul>{% endif %}
          {% endfor %}
        </div>
      </div>
    </section>

  </div>
{% endblock %}
