<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %} Dup {% endblock %}</title>

    <!-- CSS files -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    {% block head %}{% endblock %}

    <!-- JS files -->
    <script type="text/javascript" href="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

  </head>
  <body>

    {% block content %}{% endblock %}

  </body>
</html>
