/* Styling for the header */

.navbar-brand {
  color: #374140;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #b42e30;
}

.nav a {
  color: #374140;
}

.nav a:hover {
  color: #b42e30;
  background-color: #eee;
}

.header-jumbotron {
  text-align: center;
  margin-bottom: 0px !important;
  background-image: url('/images/sanfrancisco_landscape.jpg');
  background-size: 100%;
  height: 520px;
}

.icons-container * {
  display: inline;
  margin-top: 50px;
}

.icons-container p {
  padding: 10px;
}

.blog-link {
  padding-right: 30px;
  padding-left: 60px;
}

.knowledgebase-link {
  padding-left: 30px;
}

/* Styling for main body */

.main-body-container {
  margin: 0px 0px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-body-container b {
  color: #dc3522;
}

.info .container {
  padding-left: 15%;
  padding-right: 15%;
}

.main-info {
}

.alternate-info {
  /*background-color: #ebeeed;*/
  background-color: #1e1e20;
  color: #dddddd;
}

.project-header h3 {
  display: inline;
  color: #dc3522;
}

.project-header p {
  display: inline;
}

.projects-list ul {
  list-style: none;
}

.project-skills-list * {
  display: inline;
}

.project-skills-list p {
  /*color: #D9CB9E;*/
}

.links-list * {
  display: inline;
}

.links-list ul {
  padding-left: 5px;
}

.projects-divider {
  width: 100%;
  height: 35px;
}

.skills-list ul {
  list-style: none;
}

.skills-list h3 {
  color: #dc3522;
}

.section-header {
}

.interests-list ul {
  list-style: none;
}

.interests-list h3 {
  color: #dc3522;
}

.section-subheader {
  margin-top: 5px;
}
