/* Styling for the header */

.navbar-brand {
  color: #d93537;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #b42e30;
}

.nav a {
  color: #D93537;
}

.nav a:hover {
  color: #b42e30;
  background-color: #eee;
}

.header-jumbotron {
  text-align: center;
  margin-bottom: 0px !important;
  background-image: url('/images/portrait_landscape.jpg');
  background-size: 100%;
  height: 520px;
}

/* Styling for main body */

.main-body-container {
  margin: 0px 0px;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-body-container b {
  color: #D93537;
}

.info .container {
  padding-left: 70px;
  padding-right: 70px;
}

.main-info {
}

.alternate-info {
  /*background-color: #ebeeed;*/
  background-color: #0e1111;
  color: #dddddd;
}

.project-header h3 {
  display: inline;
}

.project-header p {
  display: inline;
}

.projects-list ul {
  list-style: none;
}

.skills-list * {
  display: inline;
}

.skills-list p {
  color: #D93537;
}

.projects-divider {
  background: url('/images/fancy_divider.png') no-repeat scroll center center transparent;
  width: 100%;
  height: 50px;
}
